name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: Al-Amin33-prog
          outputs: dist/github-contribution-grid-snake.svg

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: snake
          path: dist/github-contribution-grid-snake.svg

      - name: Push to Output Branch
        uses: ad-m/github-push-action@v1
        with:
          branch: output
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
